.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 800px;
}