.info-container {
    padding: 20px;
    text-align: center;
}

.info-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 30%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-container h1 {
    font-size: 2rem;
}

.info-container p {
    font-size: 1.2rem;
}


.my-plants-link {
    text-decoration: none;
}

.my-plants-text {
    text-align: left;
    margin: 0;
    cursor: pointer;
}

.icon-button {
    margin-left: 1000px;
    justify-content: flex-end;
    background: none;
    border: none;
    cursor: pointer;
}

.icon-image {
    width: 50px;
    height: 50px;
}